.event-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-radius: 20px;
    border: 2px solid black;
    gap: 20px;
    background-color: blueviolet;
    padding: 20px 20px;
}
.goto-addEvent {
    height: 50px;
    width: 150px;
    background-color: lightgreen;
    border-style: none;
    margin: 20px;
}