<div class="image-container">
    <img class="vibe-img" src="../../../assets/image 8 (1).png" alt="image of a sunset">
</div>

<button routerLink="AddEvent" class="goto-addEvent">add a new event</button>

<div class="event-cards card-container">
    <app-event-card *ngFor="let eventInfo of dbOccasionInfo | async"
        [eventInfo]="eventInfo"></app-event-card>
</div>

<div class="event-cards3 card-container">    
    <h1>
        this is retrieved using the service from the api from mongoDB
    </h1>
    <p *ngFor="let occasion of dbOccasionInfo | async">
        id: {{occasion.id}}
        time: {{occasion.date}}
    </p>
    
</div>