header {
    container-type: inline-size;
    color: var(--clr-contrast);
    display: grid;
    background-color: var(--clr-background);
    margin: 0;
    box-shadow: 0 0 10px #000;
    top: 0;
    position: fixed;
    width: 100%;
    justify-items: end;
}